/** @format */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
	/* fonts */
	--font-Lexend: 'Lexend Deca', sans-serif;
	--font-Shoulders: 'Big Shoulders Display', sans-serif;
	/* colors */
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white/*(paragraphs)*/: hsla(0, 0%, 100%, 0.75);
	--very-light-gray/*(background, headings, buttons)*/: hsl(0, 0%, 95%);
	/* border */
	--border-Top: 10px 10px 0px 0px;
	--border-Bottom: 0px 0px 10px 10px;
	--border-Right: 0px 10px 10px 0px;
	--border-Left: 10px 0px 0px 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

body {
	width: 100%;
	font-size: 15px;
}

#container {
	display: flex;
}

.carIcon {
}
#sedan {
	background-color: var(--bright-orange);
}
#sedan .learnMore {
	color: var(--bright-orange);
}
#suv {
	background-color: var(--dark-cyan);
}
#suv .learnMore {
	color: var(--dark-cyan);
}
#luxury {
	background-color: var(--very-dark-cyan);
}
#luxury .learnMore {
	color: var(--very-dark-cyan);
}

.sectionContent {
	margin-left: 13%;
	margin-right: 20%;
}
h1 {
	text-transform: uppercase;
	font-family: var(--font-Shoulders);
	color: var(--very-light-gray);
}
p {
	font-family: var(--font-Lexend);
	color: var(--transparent-white);
}
/*a.learnMore {	
}
*/

/*
a:visited.learnMore {
} Hvordan lenker som har blitt trukket på vises
*/

a.learnMore:hover {
	border: 2px solid var(--very-light-gray);
	background-color: transparent;
	color: var(--very-light-gray) !important;
} /*Hvordan lenker man har musen på vises*/

/*
a:active.learnMore {
} Utseendet til lenken i det den blir trukket på
*/

/*
a:focus.learnMore {
} Utseendet til lenken når man hopper til den med TAB
*/

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1440px) /*Desktop*/ {
	body {
		background-color: var(--very-light-gray);
	}
	.carSection {
		height: 75%;
		width: 280px;
	}
	.borderRight {
		border-radius: var(--border-Right);
	}
	.borderLeft {
		border-radius: var(--border-Left);
	}
	#container {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}
	.carIcon {
		margin: 35px 0px 25px;
	}
	h1 {
		margin: 0px 0px 15px;
		font-size: 40px;
	}
	p {
		line-height: 2em;
		font-size: 12px;
	}
	.learnMore {
		display: block;
		background-color: var(--very-light-gray);
		font-family: var(--font-Lexend);
		border-radius: 40px;
		text-align: center;
		text-decoration: none;
		transform: translate(-30px);
		margin: 50% 30px;
		padding: 10px 15px;
	}
}
@media screen and (max-width: 380px) /*Mobile*/ {
	body {
		background-color: var(--very-light-gray);
	}
	.carSection {
		width: 90%;
	}
	.borderTop {
		border-radius: var(--border-Top);
	}
	.borderBottom {
		border-radius: var(--border-Bottom);
	}
	#container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 25% 0px;
	}
	.carIcon {
		margin: 60px 0px 35px;
	}
	h1 {
		margin: 0px 0px 30px;
		font-size: 40px;
	}
	p {
		line-height: 2em;
	}
	.learnMore {
		display: block;
		background-color: var(--very-light-gray);
		font-family: var(--font-Lexend);
		border-radius: 40px;
		text-align: center;
		text-decoration: none;
		line-height: 2em;
		margin: 25px 70px 45px 0px;
		padding: 10px 20px;
	}
}
