/** @format */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
	/* colors and fonts */
	--font: 'Red Hat Display', sans-serif;
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body p {
	font-size: 16px;
}

html,
body {
	height: 100%;
}

body {
	width: 100%;
	font-family: var(--font);
}

#boxContainer {
	overflow: hidden;
	border-radius: 25px;
	margin: 20% 5%;
	text-align: center;
	background-color: white;
}
#dancingGirl {
	width: 100%;
}
.title {
	font-weight: 900;
	color: var(--dark-blue);
}
#orderSummaryTitle {
}
#orderSummaryText {
	color: var(--desaturated-blue);
}
#planBox {
	background-color: var(--very-pale-blue);
	margin: 20px;
	padding: 15px;
	border-radius: 8px;
}
#iconMusic {
}
#planTitle {
}
#planPrice {
	color: var(--desaturated-blue);
}
#planChange {
	color: var(--bright-blue);
	font-weight: 900;
}
#toPayment {
	background-color: var(--bright-blue);
	color: white;
	margin: 20px;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 1px 10px 15px -12px black;
	font-weight: 700;
}
#cancelOrder {
	padding-bottom: 30px;
	color: var(--desaturated-blue);
	font-weight: 900;
}
